/* apply styles to <body> */
body {
  color: #227070;
  font-family: Arial, Helvetica, sans-serif;
}

.body-grid-wrapper {
  display: grid;
  width: 100%;
}
  
.body-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color:  #227070;
  font-size: 1.2rem;
}

.body-grid-item {
  padding: 15px 0;
  display: grid;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.body-grid-item.three {
  grid-column: 1 / span 3;
}
  
.body-grid-item.both {
  grid-column: 2 / span 2;
}

/* apply styles to <header> */
#header {
  padding: 20px 35px;
  background-color: #c3c7c7;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

#header h1 {
  text-shadow: 0 0 10px rgba(10, 81, 92, 0.473);
}

#header a {
  text-decoration: none;
  color: #227070;
}

#header nav {
  margin: 7px 0;
}
  
#header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
#header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(10, 81, 92, 0.473);
}

#header nav ul li a:hover {  
  color: #3a1b42;
  border-radius: 15px;
  text-shadow: none;
}

/* end <header> */

/* apply styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
img{
  width: 40%;
  height: 40%;
  border-radius: 180px;
}

section {
  padding: 60px;
  }

.section-title {
  font-size: 38px;
  color: #227070;;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
  
.primary-border {
  border-color: #227070;
  border-right: 3px solid;
}

/* apply styles to about */
.flex-row {
  display: flex;
}

#about-me{
  padding: 60px;
  align-items: right;
  justify-content: right;
  text-align: right;
}

#about-img{
  align-items: right;
  justify-content: space-around;
  text-align: left;
}

#about-bio p{ 
  padding: 20px;
  align-items: left;
  justify-content: space-around;
  text-align: Left;
}
/* end about */

/* apply styles to projects */
.flex-row {
    display: flex;
  }

#projects{
  padding: 60px;
  align-items: right;
  justify-content: right;
  text-align: right;
}

.project-grid-wrapper {
  display: grid;
  width: 100%;
  justify-content: center;
}

.project-grid-container {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px repeat(2, 1fr);
  grid-template-rows: 100px repeat(1, 1fr);
  grid-gap: 10px;
}
  
.project-grid-item {
  border: solid;
  padding: 1em;
  color: #227070;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  border-radius: 25px;
}

.project-grid-item a {
  color: #227070;
}

.project-grid-item.p-one {
  grid-column: 1/3;
  grid-row: 1/4;
  background-image: url("../images/wordsearch.jpg");
  color: #227070;
  background-size: cover;
  
}

.project-grid-item.p-one:hover {
  color:#227070;
  background-size: cover;
  height: 300px; 
  /*text-shadow: none;*/
}

.project-grid-item.p-two {
  background-image: url("../images/heart1.jpg");
  background-size: cover;
  color: #227070;
}

.project-grid-item.p-three {
  background-image: url("../images/portfolio.jpg");
  background-size: cover;
  color: #227070;
}

.project-grid-item.p-three:hover {
  height: 100px; 
}

.project-grid-item.p-four{
  background-image: url("../images/runbuddy.jpg");
  background-size: cover;
  color: #227070;
}

.project-grid-item.p-four:hover {
  background: yellow;
  color: #227070;
  text-shadow: none;
}

/* end projects */

/* apply styles to <contact> */ 

.contact h2 {
  color: #227070;
}

#contact-me {
  align-items: right;
  justify-content: right;
  text-align: right;
}
  
#contact-info {
  display: flex;
  flex-wrap: wrap;
}
  
#contact-info a {
  text-decoration: none;
  color: #227070;
}

#contact-info address ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
  
#contact-info address ul li a {
  text-decoration: none;
  color: #227070;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/* end contect */

/* apply styles to <footer> */
#footer { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #c3c7c7;
  width: 100%;
  padding: 20px 15px;
}

#footer p {
  color: #227070;;
  font-size: 15px;
  margin: 0;
}
 /* end <footer> */ 

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
    #header {
        padding-bottom: 0;
        justify-content: center;
      }
    
    #header h1 {
        width: 100%;
        text-align: center;
      }
    
    #header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
    #header nav ul li a {
        font-size: 20px;
      }

    #about-img{
        padding-bottom: 0;
        justify-content: center;
    }

    #projects{
        padding-bottom: 0;
        justify-content: center;
    }

    #my-projects{
        padding-bottom: 0;
        justify-content: center;
    }

    #contact-me {
        padding-bottom: 0;
        justify-content: center;
      }
      
    #contact-info {
        display: flex;
        flex-wrap: wrap;
      }
      
    #contact-info a {
        font-size: 20px;
      }

    #contact-info address ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

    #footer {
        padding-bottom: 0;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
      }
    
    #footer h2, #footer div {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

    #footer div {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   /* section {
        padding: 30px 15px;
      }*/
    
    .body-grid-container {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
      }
  
    .body-grid-item {
        grid-column: 1;
        justify-content: center;
      }
    
    .body-grid-item.both {
        grid-column: 1 / -1;
        justify-content: center;
      }

    .projrct-grid-container {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
      }
    
    .project-grid-item {
        grid-column: 1 / -1;
        justify-content: center;
      }

    .project-grid-item.p-one {
        grid-column: 1 / -1;
      }
    
    .project-grid-item.p-two {
        grid-column: 1 / -1;
      }
      
    .project-grid-item.p-three {
        grid-column: 1 / -3;
      }
    }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}