/* apply styles to <body> */
body {
    color: #227070;
    font-family: Arial, Helvetica, sans-serif;
}

.body-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
.body-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: repeat(2, 1fr);
    color:  #227070;
    font-size: 1.2rem;
  }

.body-grid-item {
    padding: 15px 0;
    border: 2px solid #227070;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .body-grid-item.three {
    grid-column: 1 / span 3;
  }
  
  .body-grid-item.both {
    grid-column: 2 / span 2;
  }

/* apply styles to <header> */
#header {
    padding: 20px 35px;
    background-color: #c3c7c7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

#header a {
    text-decoration: none;
    color: #227070;
  }

#header nav {
    margin: 7px 0;
  }
  
#header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
#header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
/* end <header> */

/* apply styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
img{
    width: 50%;
    height: 50%;
}

section {
    padding: 60px;
  }

.section-title {
    font-size: 38px;
    color: #227070;;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
.primary-border {
    border-color: #227070;
    border-right: 3px solid;
  }

/* apply styles to about */
.flex-row {
    display: flex;
  }
/* end about */

/* apply styles to projects */
.flex-row {
    display: flex;
  }

.project-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

.project-grid-container {
    /*max-width: 940px;
    margin: 0 auto;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
  
.project-grid-item {
    border: solid;
    padding: 1em;
    color: #227070;
  }
/* end projects */

/* apply styles to <contact> */ 
.contact h2 {
    color: #227070;
  }
  
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
.contact-info iframe {
    height: 400px;
  }
  
.contact-info div {
    color: white;
    border: 1px solid #227070;
  }
  
.contact-info h3 {
    color: white;
    font-size: 32px;
  }
  
.contact-info p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
.contact-info a {
    color: #227070;
  }

.contact-info div ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
/* end contect */

/* apply styles to <footer> */
footer { 
    background: #c3c7c7;
    width: 100%;
    padding: 20px 15px;
  }
  
footer h2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #227070;;
    font-size: 30px;
    margin: 0;
  }

footer div {
    line-height: 1.5;
    text-align: right;
  }

footer a {
    text-decoration: none;
    color: #227070;
  }
 /* end <footer> */ 

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}